{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login V9</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link
      rel="icon"
      type="image/png"
      href="{% static 'images/icons/favicon.ico' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendor/animate/animate.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendor/animsition/css/animsition.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendor/select2/select2.min.css' %}"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendor/daterangepicker/daterangepicker.css' %}"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <!--===============================================================================================-->
  </head>
  <body>
    <div
      class="container-login100"
      style="background-image: url('images/bg-01.jpg')"
    >
      <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
        <form class="login100-form validate-form" method="POST">
          {% csrf_token%}
          <span class="login100-form-title p-b-37"> Sign In </span>

          <div
            class="wrap-input100 validate-input m-b-20"
            data-validate="Community name"
          >
            <input
              class="input100"
              type="text"
              name="c_name"
              id="c_name"
              placeholder="Enter Community name"
            />
            <span class="focus-input100"></span>
          </div>

          <div
            class="wrap-input100 validate-input m-b-25"
            data-validate="Choose file"
          >
            <label class="text-1" for="validatedCustomFile">Logo</label>

            <input
              class="input100"
              type="file"
              name="logo"
              id="logo"
              placeholder="Logo"
            />
            <span class="focus-input100"></span>
          </div>

          <div
            class="wrap-input100 validate-input m-b-25"
            data-validate="Choose file"
          >
            <label class="text-1" for="validatedCustomFile"
              >Background image</label
            >

            <input
              class="input100"
              type="file"
              name="bg_img"
              id="bg_img"
              placeholder="Background image"
              required data-filesize="5242880" data-filesize-error="Max 5MB"
            />
           
       </span>
     </label>
     <div class="help-block with-errors"></div>
            <span class="focus-input100"></span>
          </div>

          <div
            class="wrap-input100 validate-input m-b-20"
            data-validate="Description"
          >
            <input
              class="input100"
              type="text"
              name="desc"
              id="desc"
              placeholder="Enter Description"
            />
            <span class="focus-input100"></span>
          </div>

          <div
            class="wrap-input100 validate-input m-b-20"
            data-validate="Youtube Url "
          >
            <input
              class="input100"
              type="text"
              name="url"
              id="url"
              placeholder="Enter Youtube URL"
            />
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-20">
            <input
              class="input100"
              type="text"
              name="c_url"
              id="c_url"
              placeholder="Enter Community URL"
            />
            <span class="focus-input100"></span>
          </div>

          <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">Yay</button>
          </div>
        </form>
      </div>
    </div>

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
